[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
	branch = master

[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
	branch = main

[submodule "glew"]
	path = glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
	branch = master
